.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.header li {
  float: right;
}

.headerli a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.pic img {
  border-radius: 50%;
  text-align: center;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  border-radius: 24px;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  width: 480px;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}

.voice-image span {
  cursor: pointer;
  align-items: center;
  margin-right: 5px;
  line-height: 30px;
  position: relative;
}

.voice-image img {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.buttons {
  margin-top: 18px;
  text-align: center;
}

.googlesearch {
  border: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.feelinglucky {
  border: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.googlesearch:hover, .feelinglucky:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.text {
  text-align: center;
  margin: 10px;
}

.text a {
  text-decoration: none;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;
}

.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.footerli {
  float: left;
  list-style: none;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
